/* navbar : start */
header {
    height: 70px;
}

.navbar-brand img{
    width: 70px;
}
/* navbar : end */
.img-container {
  position: relative;
  overflow: hidden;
}

.card-img-top {
  transition: transform 0.9s;
}

.card-img-top:hover {
  transform: scale(1.2);
}


.primary-color {
    color: #f50136 !important;
}

.secondary-color {
    color: #ffffff !important;
}

/* modal : start */
.modal .modal-header {
    border: 0;
    padding-bottom: 0;
    margin-bottom: 0;
}

.modal .modal-body p {
    color: #18181c;

}

.modal-btn {
    padding: 0;
}

#modalKabidInvestigasi ol {
    padding-left: 1rem;
}
/* modal : end */

.header {
    background-color: #18181c;
    margin: 0;
    padding: 5px;
}

.nav-link.active {
    background-color: #f50136;
}
/* navbar : end */

/* hero section : start */
#home .cover-title {
    color: #f50136;
    font-size: 30px;
}

.cover_slider .cover_item .slider_content .slider-content-inner .one {
    display: table-row !important;
}

.cover_slider .cover_item .slider_content .slider-content-inner .two {
    display: table-cell !important;
}

.cover_slider .cover_item .slider_content .slider-content-inner .cover-xl-text {
    font-size: 30px;
    color: #ffffff;
}

.cover_slider .slider-content-center-bottom {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    text-align: center;
}
/* hero section : end */

/* about : start */
#about p, li {
    text-align: justify;
    color: #18181c;
}

#about .sambutan {
    text-align: justify;
}

#about .italic {
    font-style: italic;
}

#about .salam {
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 25px;
}

#about .fw-bold {
    font-weight: bold;
}

#about .number {
    padding-right: 15px;
}

#about ol {
    padding-left: 1rem;
}

#about .icon_box_one {
    height: 300px;
    margin: 0 7px;
}

#about .icon_box_one h4 {
    text-align: center;
    margin: 0;
    font-size: 14px;
}

#about .thanks {
    padding-top: 15px;
}
/* about : end */

/* visi misi : start */
#visi-misi .price_box {
    height: 100%;
}

#visi-misi .price_box p {
    color: #18181c;
}

#visi-misi p, li {
    font-weight: bold;
}

#visi-misi .visi-desc {
    text-align: center;
}

#visi-misi .list {
    text-align: center;
}
/* visi misi : end */

/* tim : start */
#our-team .card {
    border: 0;
    border-radius: 0;
    background: #18181c;
    border: 1px solid;
}

#our-team .card-body {
    height: 90px;
    text-align: start;
}

#our-team .card .card-img-top {
    height: 300px;
    width: 100%;
}

#our-team .card .card-title {
    font-size: 16px;
    color: #f50136;
}

#our-team .card .card-text {
    color: #ffffff;
    font-size: 12px;
}

#tim img {
    width: 100vw;
    height: 400px;
    object-fit: cover;
}
/* 
#tim .col-md-3 {
    margin: 10px;
} */
/* tim : end */

/* footer : start */

.footer_box_body {
    width: 50%;
    display: block;
    margin: 0 auto;
}

footer .footer_logo img {
    width: 350px;
}
/* footer : end */

/* === artnews : START === */
#artnews-content .badge {
    background-color: #f50136;
    display: inline-block;
    margin-bottom: 10px;
}

#artnews-content .badge p {
    padding: 5px 25px;
    text-transform: uppercase;
    color: #ffffff;
}

#artnews-content .date {
    padding-left: 15px;
}

#artnews-content i {
    font-size: 20px;
    color: #f50136;
}

#artnews-content .title-wrapper {
    padding-bottom: 40px;
}

#artnews-content p {
    color: #18181c;
}

#artnews-content .writer-wrapper p {
    margin: 0;
}

#artnews-content .avatar img {
    width: 50px;
    height: 50px;
    border-radius: 100px;
    object-fit: cover;
    margin-right: 15px;
    border: 1px solid #18181c;
}

#artnews-content .content-desc {
    padding-top: 50px;
    text-align: justify;
}

#artnews-content .pagination {
    border-radius: 0;
    box-shadow: none;
    padding: 20px 0px 50px 0px;
}

#artnews-content .page-link {
    border-color: #f50136;
    color: #f50136;
    border-radius: 0;
    box-shadow: none;
}

#artnews-content .page-item.active .page-link {
    background-color: #f50136;
    border-color: #f50136;
    color: #ffffff;
}
/* === artnews : END === */